body {
  
  margin: 0;
  padding-top: 80px;
  padding-left: 96px;
  padding-right: 24px;
  background-color: rgb(248, 248, 248);
  font-family: roboto, Arial;
}



.thumbnail {
  width: 100%;
}



.intro {
  margin-top: 0;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  margin-bottom: 10px;

}



  .video-info-grid {
    display: grid;
    grid-template-columns: 50px 1fr;
  }



  .profile-picture {
    width: 36px;
    border-radius: 50px;
  }

  .thumbnail-row {
    margin-bottom: 8px;
    position: relative;
  }

  p {
    
    margin-top: 0;
    margin-bottom: 0;
  }

  .video-author,.video-stats {
    font-size: 12px;
    color: rgb(96, 96, 96);
    }

    .video-author {
      margin-bottom: 4px;
    }

    .video-grid {
      
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      column-gap: 16px;
      row-gap: 40px;
      
    }

    @media (max-width: 750px)  {
      .video-grid {
        grid-template-columns: 1fr 1fr;
      }
      
    }

        @media (min-width: 751px) and (max-width: 999px) {
      .video-grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
    @media (min-width: 1000px) {
      .video-grid {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        }
      .intro-info {
        font-size: 16px;
        line-height: 24px;
      }
    }

    @media (min-width: 1200.1px) {
  body {
    margin-left: 168px;
  }
}
    



    .video-time {
      background-color: black;
      color: white;
      position: absolute;
      bottom: 10px;
      right: 8px;
      
      font-size: 12px;
      font-weight: 500;
      padding: 4px 4px;
      border-radius: 2px;
    }

    .intro-info-link {
  text-decoration: none;
  color: black;
}

.profile-picture-container {
  position: relative;
  display: inline-block;
}

.channel-tooltip {
  background-color: white;
  width: 200px;
  padding: 12px 12px;
  box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.3);
  border-radius: 6px;
  position: absolute;
  top: 55px;
  z-index: 300;

  opacity: 0;
  pointer-events: none;

  display: flex;
  align-items: center;
  transition: opacity 0.15s;
}

.profile-picture-container:hover .channel-tooltip {
  opacity: 1;
}

.channel-tooltip-picture {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  margin-right: 8px;
}

.channel-tooltip-name {
  font-family: Roboto, Arial;
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 4px;
}

.channel-tooltip-stats {
  font-family: Roboto, Arial;
  color: rgb(96, 96, 96);
  font-size: 14px;
}




